{% extends 'layout.html' %}

{% block body %}
<section class="ftco-section ftco-no-pt">
<div class="container">
<div class="row justify-content-center mb-5 pb-2">
<div class="col-md-8 text-center heading-section ftco-animate">
<span class="subheading">Drugs</span>
<h2 class="mb-4">Our Analyzed Drugs</h2>
<p>All medicine is made to make you better. If it did the opposite, it would be malpractice.</p>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(static/images/drug-1.jpeg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Carbamazepine</h3>
<!-- <span class="position mb-2">Neurologist</span> -->
<div class="faded">
<p>Carbamazepine is used to prevent and control seizures. This medication is known as an anticonvulsant or anti-epileptic drug.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="/review-1"><span class="fa fa-list"> Reviews</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(static/images/drug-2.jpeg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Acetazolamide</h3>
<!-- <span class="position mb-2">Ophthalmologist</span> -->
<div class="faded">
<p>It is used in the treatment of glaucoma, drug-induced edema, heart failure-induced edema,
  epilepsy and in reducing intraocular pressure after surgery.It has also been used in the treatment of altitude sickness.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="/review-2"><span class="fa fa-list"> Reviews</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(static/images/drug-3.jpeg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Divalproex</h3>
<!-- <span class="position mb-2">Dentist</span> -->
<div class="faded">
<p>Divalproex sodium is used to treat various types of seizure disorders. Divalproex sodium is sometimes used together with other seizure medications.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="/review-3"><span class="fa fa-list"> Reviews</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(static/images/drug-4.jpeg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Ethosuximide</h3>
<!-- <span class="position mb-2">Pediatrician</span> -->
<div class="faded">
<p>This medication is used alone or with other medications to prevent and control a certain type of seizure (absence or petit mal seizure). It works by controlling the abnormal electrical activity in the brain that occurs during a seizure.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="/review-4"><span class="fa fa-list"> Reviews</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>

</section>

<section class="ftco-section ftco-no-pt">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(static/images/drug-5.jpeg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Phenobarbital</h3>
<!-- <span class="position mb-2">Neurologist</span> -->
<div class="faded">
<p>Phenobarbital is a barbiturate, nonselective central nervous system depressant which is primarily used as a sedative hypnotic and also as an anticonvulsant in subhypnotic doses.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="/review-5"><span class="fa fa-list"> Reviews</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(static/images/drug-6.jpeg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Phenytoin</h3>
<!-- <span class="position mb-2">Ophthalmologist</span> -->
<div class="faded">
<p>It is an anti-seizure medication.It is useful for the prevention of tonic-clonic seizures and partial seizures, but not absence seizures.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="/review-6"><span class="fa fa-list"> Reviews</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(static/images/drug-7.jpeg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Primidone</h3>
<!-- <span class="position mb-2">Dentist</span> -->
<div class="faded">
<p>Primidone belongs to a class of drugs known as barbiturate anticonvulsants. It works by controlling the abnormal electrical activity in the brain that occurs during a seizure..</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="/review-7"><span class="fa fa-list"> Reviews</span></a></li>
<!-- <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li> -->
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="staff">
<div class="img-wrap d-flex align-items-stretch">
<div class="img align-self-stretch" style="background-image: url(static/images/drug-8.jpeg);"></div>
</div>
<div class="text pt-3 text-center">
<h3>Valporic Acid</h3>
<!-- <span class="position mb-2">Pediatrician</span> -->
<div class="faded">
<p>This medication is used to treat seizure disorders, mental/mood conditions (such as manic phase of bipolar disorder), and to prevent migraine headaches.</p>
<ul class="ftco-social text-center">
<li class="ftco-animate"><a href="/review-8"><span class="fa fa-list"> Reviews</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>

</section>
{% endblock %}
